
<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <h3 class="text-center">BLOCKCHAIN</h3>
                <p class="lead justify">
                    Blockchain technologies are posed to bring transformative change to societies and
                    industries world-wide. The game-changing nature of blockchain and its role as a major driver of
                    innovation, future growth, and competitiveness are internationally recognised. As a result,
                    blockchain is at the top of national and international policy agendas around the globe.
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <h3 class="text-center">INSURANCE</h3>
                <p class="lead justify">
                    The blockchain insurance industry is still very young and offers so much potential that we are
                    pleased about every member who makes this market even more open. We form alliances and working
                    groups to learn from each other and develop joint models and concepts on comprehensive blockchains.
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <h3 class="text-center">ALLIANCE</h3>
                <p class="lead justify">
                    The independent Blockchain Insurance Alliance promotes the collaborative development of a standard,
                    open and free to use protocol for decentralized insurance. We want to enable business processes
                    covering the whole value chain of insurance, new collaborative business models, verticals, and
                    entities.
                </p>
            </div>
        </div>
        <!--
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
                <i class="fa fa-download mr-2"></i>
                Download Now!
            </a>
        </div>
        -->
    </div>
</section>