<!-- About Section -->
<section class="bg-primary text-white mb-0" id="events">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">Upcomming events</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <h3 class="text-center"><br/>Distribute 2018</h3>
                <a href="http://www.distribute-conference.com/" target="_blank" rel="noopener">
                    <img src="img/events/distribute2018.png" class="img-fluid">
                </a>
                <p class="lead justify">
                    Jun 28 - Jun 29, 2018<br/>
                    Hamburg, Germany
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <h3 class="text-center">TC Sessions: Blockchain 2018</h3>
                <a href="https://techcrunch.com/events/tc-sessions-blockchain-2018/" target="_blank" rel="noopener">
                    <img src="img/events/tc2018.png" class="img-fluid">
                </a>
                <p class="lead justify">
                    Jul 6, 2018<br/>
                    Zug, Switzerland
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <h3 class="text-center"><br/>DEVCON 4</h3>
                <a href="https://devcon.ethereum.org" target="_blank" rel="noopener">
                    <img src="img/events/devcon4.png" class="img-fluid">
                </a>
                <p class="lead justify">
                    Oct 30 – Nov 2, 2018<br/>
                    Prague, Czech Republic
                </p>
            </div>
        </div>
        <!--
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
                <i class="fa fa-download mr-2"></i>
                Download Now!
            </a>
        </div>
        -->
    </div>
</section>