
<!-- Hero -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
        <h2>BLOCKCHAIN INSURANCE ALLIANCE</h2>
        <p class="font-weight-light mb-0 text-uppercase">
            decentralized future
        </p>
        <hr class="star-light">
        <h1 class="text-uppercase mb-0">Why Alliance?</h1>
        <h2>Indipendent Community!</h2>


    </div>
</header>